
*{
    box-sizing: border-box;
    font-family: sans-serif;
}


img{
    width:150px;
}

header{
    display: flex;
    align-items: center;
    padding: 0
}

header  h2{
    font-weight: 200;
}

main h2 {
    font-weight: 500;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    border-bottom: 1px solid black;
}

li{
    margin: 0 15px;
    border-bottom: 2px solid transparent ;
    padding-bottom: 5px;

}

li:hover{
    color: #3367d6;
    border-bottom: 2px solid #3367d6 ;
    transition: .1s;
    cursor: pointer;
}

li:focus{
    color: #3367d6;
    border-bottom: 2px solid #3367d6 ;
    transition: .1s;
    cursor: pointer;

}

main {
    margin: 0 400px
}